/* ////////////////////////////// universal //////////////////////////////// */

body {
    font-family: sans-serif;
}

.directory {
    text-decoration: none;
    color: black;
}

span {
    background-color: yellow;
    font-weight: bold;
}

.logo {
    padding: 20px;
}

.header {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 48px;
}

.header-2 {
    flex-grow: 1;
}

.nav {
    justify-content: right;
    align-items: center;
    display: flex;
    font-size: 1.2em;
    padding-right: 40px;
}

.nav-item {
    list-style: none;
    display: flex;
    padding: 30px;
}

.divider {
    border-bottom: 3px black solid;
    width: 100%;
    margin-bottom: 60px;
}

.title {
    text-align: left;
    font-size: 1.5em;
    letter-spacing: 0.03em;
}

/* ////////////////////////// product gallery ////////////////////////////// */

.gallery-1, .gallery-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

.product-container {
    width: 30%;
    align-content: center;
}

.product {
    margin-bottom: 50px;
    padding: 10px;
}

.product:hover {
    background-color: yellow;
    font-weight: bold;
}

.product-img {
    border: 3px solid black;
    margin-bottom: 5px;
}

.product-name {
    text-decoration: underline;
}

.product-name, .product-price {
    margin: 0;
}

.product-link {
    color: black;
    text-decoration: none;
}


/* ////////////////////////// shopping cart ////////////////////////////// */


.product-detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* align-content: center; */
}

.detail-text {
    font-size: 1.3em;
    margin-top: 30px;
    margin-bottom: 60px;
}

.detail-img {
    border: 3px solid black;
}

.options {
    font-size: 1.3em;
}

#glazing, #size {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 48px;
    height: 40px;
    border: 3px solid black;
    font-size: 0.8em;
}

.purchase {
    margin-top: 96px;
    display: flex;
    justify-content: space-between;
}

.product-price {
    padding: 10px 20px;
    font-weight: bold;
    font-size: 1.1em;
}

.add-to-cart {
    background: yellow;
    border: 3px solid black;
    padding: 10px 20px;
    font-size: 1.1em;
}


/* /////////////////////////// detail page /////////////////////////////// */
