/* ////////////////////////////// universal //////////////////////////////// */

body {
    font-family: sans-serif;
}

.directory {
    text-decoration: none;
    color: black;
}

span {
    background-color: yellow;
    font-weight: bold;
}

.logo {
    padding: 20px;
}

/* ////////////////////////// product gallery ////////////////////////////// */

.header {
    border-bottom: 3px black solid;
    width: 1200px;
    margin: auto;
}

.title {
    text-align: center;
    font-size: 20px;
}

.gallery {
    margin: auto;
}

.product {
    width: 405px;
    margin: auto;
    margin-bottom: 50px;
    padding: 10px;
}

.product:hover {
    background-color: yellow;
    font-weight: bold;
}

.product-img {
    border: 3px solid black;
    margin-bottom: 5px;
}

.product-name {
    text-decoration: underline;
}

.product-name, .product-price {
    margin: 0;
}

.product-link {
    color: black;
    text-decoration: none;
}

/* ////////////////////////// shopping cart ////////////////////////////// */

.cart-item {
    width: 250px;
    margin: auto;
    margin-bottom: 30px;
    padding: 10px;
    /* border: 1px solid black; */
}

.cart-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 3px black solid;
}

.price {
    font-size: 20px;
}

.remove-btn {
    font-size: 10px;
    text-decoration: underline;
}

.price, .description, .remove-btn {
    text-align: center;
}

.checkout-btn {
    background-color: yellow;
    color: black;
    font-size: 20px;
    display: block;
    margin: 0 auto;
} 

.space {
    height: 100px;
}

.header2 {
    border-bottom: 3px black solid;
    width: 800px;
    margin: auto;
}

/* ////////////////////////// product page ////////////////////////////// */

.product-detail {
    margin: auto;
    width: 600px;
    text-align: center;
}

.detail-img {
    border: 3px solid black;
}

.detail-text {
    display: inline-block;
    text-align: left;
    margin-bottom: 50px;
}

.options, .purchase {
    margin: auto;
    width: 202px;
    /* that's the width of description before it */
    margin-bottom: 50px;
}

.label {
    display: inline-block;
    text-align: left;
}

.options select {
    width: 202px;
    /* that's the width of description before it */
    margin: 5px 0 25px 0;
    /* margin-bottom: 20px; */
}

.add-to-cart {
    margin-left: 61px;
    background: yellow;
}

.purchase {
    margin-bottom: 80px;
}

